<div class='page-content'>
  <h1>Edit Item</h1>
  <div class="well col-md-7 col-md-offset-2">
    <%= form_for @item do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :celebrity_id %>
      <%= f.select :celebrity_id, @celebrities, class: 'form-control'%>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :category_id %>
      <%= f.select :category_id, @categories, class: 'form-control' %>
    </p>
      <%= f.label :image_path %>
      <%= f.text_area :image_path, class: 'form-control' %>
    <p>
      <%= f.label :status %>
      <%= f.select :status, ["available", "unavailable"], class: 'form-control'%>
    </p>
    <center><%= f.submit class: 'center_button btn btn-warning' %></center>
  <% end %>
</div>
</div>
